/* Merged content from font.css */
@font-face {
    font-family: 'Metropolis';
    src: url('./assets/fonts/Metropolis-SemiBold.woff2') format('woff2');
}

html, body {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch; 
    overflow-x: hidden;
    -webkit-user-select: none;
    user-select: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
